<!DOCTYPE html>
<html>  
    <head>  
        <link rel="icon" href="D:\Mine dokumenter\Skole\Python\EV3-Tank\Smørbukk">
        <title>Kvadda Smørbukk</title>
        
    </head>        
            <link rel="stylesheet" href="/css/main.css">
            <link rel="stylesheet" href="/css/normalize.css">  
        <body> 
            <header>
                <h1>Huk av for å få smørbukk :)</h1>
                <form action="/godtatt"> 
                    <label for="godta"><input id="godta" type="checkbox" name="godta" required> Jeg skal søke ingeniørveien neste år.</label> 
                    <button type="submit">Godta</button>
                </form>
            </header>
        </body>
    </html>