<!DOCTYPE html>
<html>  
    <head> 
        <title>Kvadda Smørbukk</title>
    </head> 
        <link rel="stylesheet" href="/static/css/main.css">
        <body>  
            <header>
                <h1>Smørbukken er på vei!</h1>  
                <p>Hvem har laget denne roboten?<p> 
                    <ul>  
                       <li>Niklas</li>  
                       <li>Mats</li>  
                       <li>Pyotr</li>
                    </ul>
                <h4>Har du lyst du lyst til å være med på å lage sånne prosjekt?</h4>
                <h5>Søk ingeniørlinjen på Kvadraturen Skolesenter</h5>
            </header>
        </body>
    </html>