body {
    background: #333;
    color: white;
    }

header{
    width: 450px;
    padding: 20px;
    margin: 20px;
    border: 10px solid #fe6601;                        
    font-family: andy;
    }